@using WebGame
@using WebGame
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - @LT.HtmlUtils.SiteName</title>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="/Style.css" />
    @if (LoggedIn)
    {
        if (Request.Browser.Browser == "IE" && Request.Browser.MajorVersion <= 7)
        {
            <script src="/Scripts/json2.min.js" type="text/javascript"></script> 
        }
        <script src="/Scripts/jquery.signalR-1.0.0-rc2.js"></script>
        <script src="/signalr/hubs" type="text/javascript"></script>
        <script src="/Global.js" type="text/javascript"></script>
        
        <script type="text/javascript">
        jQuery(document).ready(function(){
            @foreach (var chatTarget in OpenChatWindows)
            {
                var chatTargetParts = chatTarget.Split('|');
                @:$.popupChat(@chatTargetParts[0], '@chatTargetParts[1]', @(GameServer.GetOnlineAccount(Int32.Parse(chatTargetParts[0])) == null ? "true" : "false"));
            }
        });
        </script>
    }
    @RenderSection("Header", required: false)
</head>
<body>
<center>
    <table cellpadding="0" cellspacing="0" width="1000">
        <tr><td colspan="3">
            <div class="Top">
                <a href="/" ><img src="/images/logo.png" width="216" height="28" style="padding:7px" alt="@LT.HtmlUtils.SiteName" /></a>
                <img src="/images/photos/topPic@((Utility.Random.Next(12) + 1).ToString("D2")).jpg" align="right" alt="World War 1" />
            </div>
        </td></tr>
        <tr>
            <td style="width:160px;">
                <div class="Side">
                    @if (IsSectionDefined("Sidebar"))
                    {
                        @RenderSection("Sidebar", required: false);
                    }
                    else
                    {
                        @Html.Partial("_DefaultMenu");
                    }
                </div>
            </td>
            <td>
                <div class="Center">
                    @RenderBody()
                </div>
                @RenderSection("UnderCenter", required: false)
            <td width="160">
                Right Bar
            </td>
        </tr>
    </table>
</center>
@if (LoggedIn)
{
<audio id="notify"> 
    <source src="/Sounds/chime.ogg" type="audio/ogg" />
    <source src="/Sounds/chime.mp3" type="audio/mp3" />
</audio>
}
</body>
</html>